
<br/>
<div class="card">
  <div class="card-header">
    <h1>Trips</h1>
    <%= form_tag('/trips', {:method => :get}) do %>
      <%= text_field_tag :group_name %>
      <%= submit_tag %>
    <% end %>
  </div>
  <div class="card-body">
    <table class="table table-hover table-bordered">
      <thead class='thead-dark'>
        <tr>
          <th scope="col">Group name</th>
          <th scope="col">Email</th>
          <th scope="col">When</th>
          <th scope="col">Jobs</th>
          <th scope="col">Excursions</th>
          <th scope="col">Additional info</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="table-warning">
        <% @trips.each do |trip| %>
          <% if trip.user == current_user %>
          <tr scope='row'>
            <td><%= trip.group_name %></td>
            <td><%= trip.email %></td>
            <td><%= trip.when %></td>
            <td><%= trip.jobs %></td>
            <td><%= trip.escursions %></td>
            <td><%= trip.additional_info %></td>
            <td><%= link_to 'Show', trip %></td>
            <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
            <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end%>
        <% end %>
      </tbody>
    </table>
    <p class="card-text">***After submitting your trip, please wait for a staff member to reach out to you via email.***</p>
  </div>
</div>
<br/>
<%= link_to 'New Trip', new_trip_path, class:'btn btn-secondary' %>
